.piedepagina{
    grid-area: footer;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    text-align:center; 
    text-decoration:none;
    font-size: $size-input;
    font-family: $font;

    a{
        text-decoration: none;
        color: $color-font;
        font-weight: bolder;
        &:hover{
            @extend .hover;
        }
    }

    p{
        color:$color-font;
    }
}




@media (min-width: 593px) and (max-width: 720px) {
    .piedepagina{
        font-size: small;
    }
}

@media (min-width:320px) and (max-width:593px ){
    .piedepagina{
        font-size: small;
    }
}

@media (max-width:320px){
    .piedepagina{
        font-size: x-small;
    }
}
