
.contenedor__form{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 15px;

    h3{
        @extend .contenedor__form;
        @include titulos;
        margin-top: 20px;
    }

    label{
        @extend .contenedor__form;
        font-family: $font-desc;
        color:$color-font;
        padding:2px;
    }

    input{
        @extend .contenedor__form;

        &:hover{
            background-color: $color-principal;
            color: $color-fondos;
            font-family:$font;
        }
    }

    textarea{
        &:hover{
            background-color: $color-principal;
            color: $color-fondos;
            font-family:$font;
        }
    }

    input, textarea{
        font-family: $font;
        font-size:$size-input;
        background-color: #fbfbfb;
        border-style: solid; 
        border-width: 1px; 
        border-color: black; 
        margin-top: 10px;
        border-radius: $border-radius-input; 
        
    }

    &__emojis{
        i{
            @extend .contenedor__form;
            color:$color-font;
            margin-top:5px;
        }
    }
    
    &__selec{
        div{
            margin:10px;
        }
    }

    p{
        @extend .contenedor__form;
        color:$color-font;
        margin-top:5px;
    }

    button{
        font-family: $font-desc;
        margin: 10px;
        color:$color-font;

        &:hover{
            @extend .hover;
        }
    }

}

.tamaño_form{

    &_rel{
        width:max-content;
    }
}

.borderform{
    border-radius: $border-radius-input;
    box-sizing: border-box;
    border:2px solid black;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    width: 40%;
}

.contenedor{
    &__check{
        border: 2px solid $color-principal;
        border-radius: 15px;
        padding:25px;
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        div{
            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        &__op{
            margin-left: 20px;
        }
        
        

        .style{
        list-style: none;
        }
    }

    &__drop{
        margin-top:40px;
        background-color: $color-fondos;
        }
    
        &__inputs{
            margin-top:30px;
        }
}

