
.galeria {
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap:20px;
    margin-bottom: 20px;
    
    &__titulo{
        @include titulos;
    }
    .img {
        margin-top: 8px;
        vertical-align: middle;
        border-radius: $border-radius;
        
        &:hover {
            @extend .borde;
        }
    }
}


$imagenes: (key1: prod1, key2: prod2, key3: prod3, key4: prod4, 
            key5: prod5, key6: prod6, key7: prod7, key8: prod8, 
            key9: prod9, key10: prod10, key11: prod11, key12: prod12);

@each $key, $imagen in $imagenes {
    .#{$key}-card{
        background-image: url('../recursos/#{$imagen}.jpg');
        background-size: cover;
        height: 200px;
        width: 200px;
    }
}