
@media (min-width: 593px) and (max-width: 801px) {
    
    .grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.5fr 0.75fr 0.75fr 0.75fr; 
        grid-template-areas: "header header"
                            "main main"
                            "redes redes"
                            "footer footer";
    }   
    
    header{
        grid-area: header;
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        padding: 0;
        height: 60px;
        bottom: 10px;
        background: $color-fondos;
        z-index: 100;
        border-bottom:1px solid grey;
    }

    .main__titular h1{
        font-size:xx-large;
        margin:3px;
    }
    
    .main__desc div p{
        font-size:large;
        margin:3px;
    }
    
    .contenedormapa__map{
        display:none;
    }

    .encabezado__ham{
        color:$color-font;
    }
    
    

    .contenedor__form{
        div {
            h3{
                font-size: xx-large;
            }
        }
    } 

    .login__box{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        &__usuario{
            label{
                font-family: $font-desc;
                font-size: small;
                color:$color-font;  
                padding:10px;
                transition: .5s;
            }
    
            
            }
    }

    $imagenes: (key1: prod1, key2: prod2, key3: prod3, key4: prod4, 
    key5: prod5, key6: prod6, key7: prod7, key8: prod8, 
    key9: prod9, key10: prod10, key11: prod11, key12: prod12);

    @each $key, $imagen in $imagenes {
        .#{$key}-card{
        background-image: url('../recursos/#{$imagen}.jpg');
        background-size: cover;
        height: 250px;
        width: 250px;
        }
    }

    .tamaño_form{

        &_rel{
            width:max-content;
        }
    }
    .contenedor{
    
        &__check{
            
            width:fit-content;
            display:flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: center;
            justify-content: space-between;
        }
    }
}
    
@media  (min-width: 320px) and (max-width:593px) {
    .grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.5fr 0.75fr 0.75fr 0.75fr; 
        grid-template-areas: "header "
                            "main "
                            "main"
                            "redes "
                            "footer ";
    }

    header{
        grid-area: header;
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        padding: 0;
        height: 60px;
        bottom: 10px;
        background: $color-fondos;
        z-index: 100;
        border-bottom:1px solid grey;
    }
    
    .boton__hamburguesa{
        span{
            img{
            width: 20px;
            height: 20px;
            }
        }
    }
    .contenedormapa__map{
        display:none;
    }

    .main__titular h1{
        font-size:x-large;
        margin:3px;
    }

    .main__desc p{
        font-size:small;
        margin:3px;
    }

    .contenedor__form{
        div {
            h3{
                font-size: x-large;
            }
        }
    } 

    .login__box{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        &__usuario{
            label{
                font-family: $font-desc;
                font-size:xx-small;
                color:$color-font;  
                padding:8px;
                transition: .5s;
            }
    
            
            }
    }

    .contenedor{
    
        &__check{
            
            width:fit-content;
            display:flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
    }
    
    .login__box .login__box__usuario input:focus ~ label,
    .login__box .login__box__usuario input:valid ~ label  {    
        top: -20px;
        left: 0;
        color: $color-principal;
        font-size: 8px;
    } 

    .login__box .login__box__usuario textarea:focus ~ label,
    .login__box .login__box__usuario textarea:valid ~ label  {    
        top: -20px;
        left: 0;
        color: $color-principal;
        font-size: 8px;
    }

    $imagenes: (key1: prod1, key2: prod2, key3: prod3, key4: prod4, 
    key5: prod5, key6: prod6, key7: prod7, key8: prod8, 
    key9: prod9, key10: prod10, key11: prod11, key12: prod12);

    @each $key, $imagen in $imagenes {
        .#{$key}-card{
        background-image: url('../recursos/#{$imagen}.jpg');
        background-size: cover;
        height: 200px;
        width: 200px;
        }
    }

    .tamaño_form{

        &_rel{
            width:80%;
        }
    }

    
}

@media  (max-width: 320px) {
    
/*     .grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1.5fr 01.5fr 1.5fr 0.75fr; 
        grid-template-areas: "header"
                            "main"
                            "main"
                            "main"
                            "redes"
                            "footer";
    } */

    header{
        grid-area: header;
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        padding: 0;
        height: 60px;
        bottom: 10px;
        background: $color-fondos;
        z-index: 100;
        border-bottom:1px solid grey;
    }
    
    .contenedormapa__map{
        display:none;
    }

    .boton__hamburguesa{
        span{
            img{
            width: 20px;
            height: 20px;
            }
        }
    }

    .main__titular h1{
        font-size:18px;
        margin-top:0px;

    }
    .figure{
        padding:0px;
        img{
            padding:0px;
        }
    }

    .galeria{
        display:flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
    }

    .main__desc p{
        margin-top:0px;
        font-size:11px;
        padding: 0px;
    }
    .encabezados__fila{
            display:flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
    }
    .contenedor__form{
        div {
            h3{
                font-size: large;
            }
        }
    } 

    .login__box{

        &__usuario{
            label{
                font-family: $font-desc;
                font-size: x-small;
                color:$color-font;  
                padding:8px;
                transition: .5s;
            }
    
            
            }
    }
    
    .login__box .login__box__usuario input:focus ~ label,
    .login__box .login__box__usuario input:valid ~ label  {    
        top: -20px;
        left: 0;
        color: $color-principal;
        font-size: 8px;
    } 

    .login__box .login__box__usuario textarea:focus ~ label,
    .login__box .login__box__usuario textarea:valid ~ label  {    
        top: -20px;
        left: 0;
        color: $color-principal;
        font-size: 8px;
    }

    $imagenes: (key1: prod1, key2: prod2, key3: prod3, key4: prod4, 
    key5: prod5, key6: prod6, key7: prod7, key8: prod8, 
    key9: prod9, key10: prod10, key11: prod11, key12: prod12);

    @each $key, $imagen in $imagenes {
        .#{$key}-card{
        background-image: url('../recursos/#{$imagen}.jpg');
        background-size: cover;
        height: 200px;
        width: 200px;
        }
    }

    .tamaño_form{

        &_rel{
            width:100%;
        }
    }
    
}
