$color-principal: #9DF4E2;
$color-fondos:#1F2023;
$color-font:whitesmoke;

$font-titulos:'Anton';
$font-desc:'Oswald';
$font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$size-desc-main: 25px;
$size-input: 15px;

$border-radius: 12px;
$border-radius-footer:5px;
$border-radius-input:20px;





