$color-principal: #9DF4E2;
$color-fondos:#1F2023;
$color-font:whitesmoke;

$font-titulos:'Anton';
$font-desc:'Oswald';
$font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$size-desc-main: 25px;
$size-input: 15px;

$border-radius: 12px;
$border-radius-footer:5px;
$border-radius-input:20px;



.hover {
    background-color: $color-principal;
        color: $color-fondos;
        border-radius: $border-radius;
        box-shadow: 0 0 5px $color-principal,
                    0 0 25px $color-principal,
                    0 0 50px $color-principal,
                    0 0 100px $color-principal;
}

