@import 'variables';
@import 'header';
@import 'footer';



* {
padding: 0;
margin: 0;
}

/* --------------- */
/* --------------- */
/* --------------- */

body{

    display:grid;
    grid-template-areas: "header header header header"
                            "main main main main"
                            "footer footer footer footer";
                            
    background-color: $color-fondos;

    .container-fluid{
        grid-area: main;
    }
    
    .main{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;

        &__titular{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            font-family: $font-titulos;
            color:$color-font;
            margin-top:10px;
            font-size:xx-large;
        }

        &__desc{
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            font-size: $size-desc-main;
            font-family: $font-desc;
            color:$color-font;
        }
        
        .contenedormapa{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding:5px;

            &__map{
                padding:5px;
            }

        }
        
        .redes{
            display:flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-top:20px;
            margin-bottom:5px;
            padding:5px;
            
            &__contenedor{
                display:flex;
                flex-wrap: wrap;

                div{
                padding:2px;  
                }
            }

            &__emoji{
                img{
                    height:30px;
                    width:30px;
                }

                &:hover{
                    background-color: $color-principal;
                    color: $color-fondos;
                    border-radius: $border-radius;
                    box-shadow: 0 0 5px $color-principal,
                                0 0 25px $color-principal,
                                0 0 50px $color-principal,
                                0 0 100px $color-principal;
                }

            }
        }



    }

    

}




/* --------------- */
/* --------------- */
/* --------------- */
/* --------------- */
/* --------------- */
/* --------------- */


.contenedor__form{
display:flex;
flex-wrap: wrap;
flex-direction: row;
align-content: center;
justify-content: center;
margin-top: 15px;
}

.contenedor__form h3{
display:flex;
flex-wrap: wrap;
flex-direction: row;
align-content: center;
justify-content: center;
font-family: $font-titulos;
color:$color-font;
margin-top: 20px;
}

.contenedor__form label {
display:flex;
flex-wrap: wrap;
flex-direction: row;
align-content: center;
justify-content: center;
font-family: $font-desc;
color:$color-font;
padding:2px;
}


.contenedor__form input{
display:flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-content: center;

}


.contenedor__form input, textarea {
font-family: $font;
font-size:$size-input;
background-color: #fbfbfb;
border-style: solid; 
border-width: 1px; 
border-color: black; 
margin-top: 10px;
border-radius: $border-radius-input; 
}

.contenedor__form__emojis i{
display:flex;
flex-wrap: wrap;
flex-direction: row;
align-content: center;
justify-content: center;
color:$color-font;
margin-top:5px;
}

.contenedor__form__selec div{
margin:10px;
}
.contenedor__form  input:hover{
background-color: $color-principal;
color: $color-fondos;
font-family:$font;
}

.contenedor__form  textarea:hover{
background-color: $color-principal;
color: $color-fondos;
font-family:$font;
}

.contenedor__form p{
display:flex;
flex-wrap: wrap;
flex-direction: row;
align-content: center;
justify-content: center;
color:$color-font;
margin-top:5px;
}

.contenedor__form button {
font-family: $font-desc;
margin: 10px;
color:$color-font;
}

.contenedor__form button:hover{
background-color: $color-principal;
color: $color-fondos;
font-family: $font-desc;
border-radius: $border-radius;
border-color:  $color-principal;
box-shadow: 0 0 5px $color-principal,
            0 0 25px $color-principal,
            0 0 50px $color-principal,
            0 0 100px $color-principal;
}

.tamaño_form {
width: 130%;
}

.tamaño_form_rel{
width:80%;
}

.borderform {
border-radius: $border-radius-input;
box-sizing: border-box;
border:2px solid black;
box-shadow: 0 15px 25px rgba(0,0,0,.6);
width: 40%;
}

.login__box__usuario label{
font-family: $font-desc;
font-size: 15px;
color:$color-font;  
padding:10px;
transition: .5s;
}

.login__box .login__box__usuario input:focus ~ label,
.login__box .login__box__usuario input:valid ~ label  {    
top: -20px;
left: 0;
color: $color-principal;
font-size: 12px;
} 

.login__box .login__box__usuario textarea:focus ~ label,
.login__box .login__box__usuario textarea:valid ~ label  {    
top: -20px;
left: 0;
color: $color-principal;
font-size: 12px;
}


.contenedor__check{
border: 2px solid $color-principal;
border-radius: 15px;
padding:25px;
}


.contenedor__drop {
margin-top:40px;
background-color: $color-fondos;
}

.contenedor__inputs{
margin-top:30px;
}

.galeria {

display:flex;
flex-wrap: wrap;
align-content: center;
justify-content: center;
gap:20px;
}

.galeria img {
margin-top: 8px;
vertical-align: middle;
border-radius: $border-radius;
}

.galeria img:hover {

background-color: $color-principal;
color: $color-fondos;
font-family: $font-desc;
border-radius: $border-radius;
border-color:  $color-principal;
box-shadow: 0 0 5px $color-principal,
            0 0 25px $color-principal,
            0 0 50px $color-principal,
            0 0 100px $color-principal;
}

@media (min-width: 320px) and (max-width: 720px) {
.grid{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 0.75fr 0.75fr 0.75fr; 
    grid-template-areas: "header header"
                        "main main"
                        "redes redes"
                        "footer footer";
}

.main__titular h1{
    font-size:x-large;
}

.main__desc{
    font-size:medium;
}

.contenedormapa{
    display:none;
}

header{
    grid-area: header;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 60px;
    bottom: 10px;
    background: $color-fondos;
    z-index: 100;
    border-bottom:1px solid grey;
}

.encabezado__ham{
    color:$color-font;
}
}

@media  (max-width: 320px) {
.grid{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 0.75fr 0.75fr 0.75fr; 
    grid-template-areas: "header "
                        "main "
                        "main"
                        "redes "
                        "footer ";
}

.contenedormapa{
    display:none;
}

.main__titular h1{
    font-size:large;
}

.main__desc{
    font-size:small;
}

header{
    grid-area: header;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 60px;
    bottom: 10px;
    background: $color-fondos;
    z-index: 100;
    border-bottom:1px solid grey;
}
}