@charset "UTF-8";
.hover, .piedepagina a:hover, .contenedor__form button:hover, .contenedor__form__emojis i button:hover, body .redes__emoji:hover {
  background-color: #9DF4E2;
  color: #1F2023;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 5px #9DF4E2, 0 0 25px #9DF4E2, 0 0 50px #9DF4E2, 0 0 100px #9DF4E2;
          box-shadow: 0 0 5px #9DF4E2, 0 0 25px #9DF4E2, 0 0 50px #9DF4E2, 0 0 100px #9DF4E2;
}

.borde, .full-container .galeria .img:hover {
  color: #1F2023;
  border: 5px solid #9DF4E2;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 5px #9DF4E2;
          box-shadow: 0 0 5px #9DF4E2;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  height: 70px;
  border-bottom: 2px solid grey;
}

header .bg-color {
  background-color: #1F2023;
}

header .fuente-nav {
  font-family: "Oswald";
}

header .color-nav {
  color: whitesmoke;
  text-decoration: none;
}

header .nav__menu .active_h a:hover {
  border: 1px solid #9DF4E2;
  border-radius: 12px;
  color: #9DF4E2;
}

header .nav__menu li {
  list-style: none;
}

header .boton__hamburguesa {
  /* background-color: $color-principal; */
  color: whitesmoke;
  border-color: #1F2023;
}

header .boton__hamburguesa img {
  width: 30px;
  height: 30px;
}

.piedepagina {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.piedepagina a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bolder;
}

.piedepagina p {
  color: whitesmoke;
}

@media (min-width: 593px) and (max-width: 720px) {
  .piedepagina {
    font-size: small;
  }
}

@media (min-width: 320px) and (max-width: 593px) {
  .piedepagina {
    font-size: small;
  }
}

@media (max-width: 320px) {
  .piedepagina {
    font-size: x-small;
  }
}

.contenedor__form, .contenedor__form h3, .contenedor__form label, .contenedor__form input, .contenedor__form__emojis i, .contenedor__form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.contenedor__form h3, .contenedor__form h3 h3, .contenedor__form label h3, .contenedor__form input h3, .contenedor__form__emojis i h3, .contenedor__form p h3 {
  color: whitesmoke;
  font-family: "Anton";
  margin-top: 20px;
}

.contenedor__form label, .contenedor__form h3 label, .contenedor__form label label, .contenedor__form input label, .contenedor__form__emojis i label, .contenedor__form p label {
  font-family: "Oswald";
  color: whitesmoke;
  padding: 2px;
}

.contenedor__form input:hover, .contenedor__form__emojis i input:hover {
  background-color: #9DF4E2;
  color: #1F2023;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.contenedor__form textarea:hover, .contenedor__form__emojis i textarea:hover {
  background-color: #9DF4E2;
  color: #1F2023;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.contenedor__form input, .contenedor__form h3 input, .contenedor__form label input, .contenedor__form input input, .contenedor__form__emojis i input, .contenedor__form p input, .contenedor__form textarea, .contenedor__form h3 textarea, .contenedor__form label textarea, .contenedor__form input textarea, .contenedor__form__emojis i textarea, .contenedor__form p textarea {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  background-color: #fbfbfb;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 10px;
  border-radius: 20px;
}

.contenedor__form__emojis i {
  color: whitesmoke;
  margin-top: 5px;
}

.contenedor__form__selec div {
  margin: 10px;
}

.contenedor__form p, .contenedor__form h3 p, .contenedor__form label p, .contenedor__form input p, .contenedor__form__emojis i p, .contenedor__form p p {
  color: whitesmoke;
  margin-top: 5px;
}

.contenedor__form button, .contenedor__form h3 button, .contenedor__form label button, .contenedor__form input button, .contenedor__form__emojis i button, .contenedor__form p button {
  font-family: "Oswald";
  margin: 10px;
  color: whitesmoke;
}

.tamaño_form_rel {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.borderform {
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid black;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  width: 40%;
}

.contenedor__check {
  border: 2px solid #9DF4E2;
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  margin-right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor__check div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor__check__op {
  margin-left: 5px;
}

.contenedor__check .style {
  list-style: none;
}

.contenedor__drop {
  margin-top: 40px;
  background-color: #1F2023;
}

.contenedor__inputs {
  margin-top: 30px;
}

.login__box__usuario label {
  font-family: "Oswald";
  font-size: 15px;
  color: whitesmoke;
  padding: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

/* ACÁ NO SÉ COMO COLOCAR ESTO EN EL ANIDADO, ANTES PROBE DE UNA MANERA PERO NO ME LO TOMA DE MANERA CORRECTA */
.login__box .login__box__usuario input:focus ~ label,
.login__box .login__box__usuario input:valid ~ label {
  top: -20px;
  left: 0;
  color: #9DF4E2;
  font-size: 12px;
}

.login__box .login__box__usuario textarea:focus ~ label,
.login__box .login__box__usuario textarea:valid ~ label {
  top: -20px;
  left: 0;
  color: #9DF4E2;
  font-size: 12px;
}

/* .login__box__usuario label{
    font-family: $font-desc;
    font-size: 15px;
    color:$color-font;  
    padding:10px;
    transition: .5s;
    } */
.full-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.full-container .container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*   flex-wrap: wrap;
        flex-direction: row; */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  /*direction wrap*/
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.full-container .container .tarjeta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.full-container .container .tarjeta a {
  font-family: "Oswald";
  color: whitesmoke;
  text-decoration: none;
}

.full-container .container .tarjeta a:hover {
  color: #9DF4E2;
  border-bottom: 1px solid #9DF4E2;
  font-size: smaller;
}

.full-container .galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.full-container .galeria__titulo {
  color: whitesmoke;
  font-family: "Anton";
}

.full-container .galeria .img {
  border-radius: 15px;
  margin-bottom: 15px;
  -webkit-transition: -webkit-transform 1s, -webkit-box-shadow 2s;
  transition: -webkit-transform 1s, -webkit-box-shadow 2s;
  transition: transform 1s, box-shadow 2s;
  transition: transform 1s, box-shadow 2s, -webkit-transform 1s, -webkit-box-shadow 2s;
  margin-top: 8px;
  vertical-align: middle;
  border-radius: 12px;
}

.full-container .galeria .img:hover {
  -webkit-box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.2) rotate(20deg);
          transform: scale(1.2) rotate(20deg);
}

.key1-card {
  background-image: url("../recursos/prod1.jpg");
  background-size: cover;
  height: 200px;
  width: 200px;
}

.key2-card {
  background-image: url("../recursos/prod2.jpg");
  background-size: cover;
  height: 200px;
  width: 200px;
}

.key3-card {
  background-image: url("../recursos/prod3.jpg");
  background-size: cover;
  height: 200px;
  width: 200px;
}

.key4-card {
  background-image: url("../recursos/prod4.jpg");
  background-size: cover;
  height: 200px;
  width: 200px;
}

.key5-card {
  background-image: url("../recursos/prod5.jpg");
  background-size: cover;
  height: 200px;
  width: 200px;
}

.key6-card {
  background-image: url("../recursos/prod6.jpg");
  background-size: cover;
  height: 200px;
  width: 200px;
}

.key7-card {
  background-image: url("../recursos/prod7.jpg");
  background-size: cover;
  height: 200px;
  width: 200px;
}

.key8-card {
  background-image: url("../recursos/prod8.jpg");
  background-size: cover;
  height: 200px;
  width: 200px;
}

.key9-card {
  background-image: url("../recursos/prod9.jpg");
  background-size: cover;
  height: 200px;
  width: 200px;
}

.key10-card {
  background-image: url("../recursos/prod10.jpg");
  background-size: cover;
  height: 200px;
  width: 200px;
}

.key11-card {
  background-image: url("../recursos/prod11.jpg");
  background-size: cover;
  height: 200px;
  width: 200px;
}

.key12-card {
  background-image: url("../recursos/prod12.jpg");
  background-size: cover;
  height: 200px;
  width: 200px;
}

@media (min-width: 593px) and (max-width: 801px) {
  .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1.5fr 0.75fr 0.75fr 0.75fr;
        grid-template-rows: 1.5fr 0.75fr 0.75fr 0.75fr;
        grid-template-areas: "header header" "main main" "redes redes" "footer footer";
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: header;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    height: 60px;
    bottom: 10px;
    background: #1F2023;
    z-index: 100;
    border-bottom: 1px solid grey;
  }
  .main__titular h1 {
    font-size: xx-large;
    margin: 3px;
  }
  .main__desc div p {
    font-size: large;
    margin: 3px;
  }
  .contenedormapa__map {
    display: none;
  }
  .encabezado__ham {
    color: whitesmoke;
  }
  .contenedor__form div h3, .contenedor__form h3 div h3, .contenedor__form label div h3, .contenedor__form input div h3, .contenedor__form__emojis i div h3, .contenedor__form p div h3 {
    font-size: xx-large;
  }
  .login__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .login__box__usuario label {
    font-family: "Oswald";
    font-size: small;
    color: whitesmoke;
    padding: 10px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .key1-card {
    background-image: url("../recursos/prod1.jpg");
    background-size: cover;
    height: 250px;
    width: 250px;
  }
  .key2-card {
    background-image: url("../recursos/prod2.jpg");
    background-size: cover;
    height: 250px;
    width: 250px;
  }
  .key3-card {
    background-image: url("../recursos/prod3.jpg");
    background-size: cover;
    height: 250px;
    width: 250px;
  }
  .key4-card {
    background-image: url("../recursos/prod4.jpg");
    background-size: cover;
    height: 250px;
    width: 250px;
  }
  .key5-card {
    background-image: url("../recursos/prod5.jpg");
    background-size: cover;
    height: 250px;
    width: 250px;
  }
  .key6-card {
    background-image: url("../recursos/prod6.jpg");
    background-size: cover;
    height: 250px;
    width: 250px;
  }
  .key7-card {
    background-image: url("../recursos/prod7.jpg");
    background-size: cover;
    height: 250px;
    width: 250px;
  }
  .key8-card {
    background-image: url("../recursos/prod8.jpg");
    background-size: cover;
    height: 250px;
    width: 250px;
  }
  .key9-card {
    background-image: url("../recursos/prod9.jpg");
    background-size: cover;
    height: 250px;
    width: 250px;
  }
  .key10-card {
    background-image: url("../recursos/prod10.jpg");
    background-size: cover;
    height: 250px;
    width: 250px;
  }
  .key11-card {
    background-image: url("../recursos/prod11.jpg");
    background-size: cover;
    height: 250px;
    width: 250px;
  }
  .key12-card {
    background-image: url("../recursos/prod12.jpg");
    background-size: cover;
    height: 250px;
    width: 250px;
  }
  .tamaño_form_rel {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .contenedor__check {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 320px) and (max-width: 593px) {
  .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1.5fr 0.75fr 0.75fr 0.75fr;
        grid-template-rows: 1.5fr 0.75fr 0.75fr 0.75fr;
        grid-template-areas: "header " "main " "main" "redes " "footer ";
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: header;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    height: 60px;
    bottom: 10px;
    background: #1F2023;
    z-index: 100;
    border-bottom: 1px solid grey;
  }
  .boton__hamburguesa span img {
    width: 20px;
    height: 20px;
  }
  .contenedormapa__map {
    display: none;
  }
  .main__titular h1 {
    font-size: x-large;
    margin: 3px;
  }
  .main__desc p {
    font-size: small;
    margin: 3px;
  }
  .contenedor__form div h3, .contenedor__form h3 div h3, .contenedor__form label div h3, .contenedor__form input div h3, .contenedor__form__emojis i div h3, .contenedor__form p div h3 {
    font-size: x-large;
  }
  .login__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .login__box__usuario label {
    font-family: "Oswald";
    font-size: xx-small;
    color: whitesmoke;
    padding: 8px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .contenedor__check {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .login__box .login__box__usuario input:focus ~ label,
  .login__box .login__box__usuario input:valid ~ label {
    top: -20px;
    left: 0;
    color: #9DF4E2;
    font-size: 8px;
  }
  .login__box .login__box__usuario textarea:focus ~ label,
  .login__box .login__box__usuario textarea:valid ~ label {
    top: -20px;
    left: 0;
    color: #9DF4E2;
    font-size: 8px;
  }
  .key1-card {
    background-image: url("../recursos/prod1.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key2-card {
    background-image: url("../recursos/prod2.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key3-card {
    background-image: url("../recursos/prod3.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key4-card {
    background-image: url("../recursos/prod4.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key5-card {
    background-image: url("../recursos/prod5.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key6-card {
    background-image: url("../recursos/prod6.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key7-card {
    background-image: url("../recursos/prod7.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key8-card {
    background-image: url("../recursos/prod8.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key9-card {
    background-image: url("../recursos/prod9.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key10-card {
    background-image: url("../recursos/prod10.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key11-card {
    background-image: url("../recursos/prod11.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key12-card {
    background-image: url("../recursos/prod12.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .tamaño_form_rel {
    width: 80%;
  }
}

@media (max-width: 320px) {
  /*     .grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1.5fr 01.5fr 1.5fr 0.75fr; 
        grid-template-areas: "header"
                            "main"
                            "main"
                            "main"
                            "redes"
                            "footer";
    } */
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: header;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    height: 60px;
    bottom: 10px;
    background: #1F2023;
    z-index: 100;
    border-bottom: 1px solid grey;
  }
  .contenedormapa__map {
    display: none;
  }
  .boton__hamburguesa span img {
    width: 20px;
    height: 20px;
  }
  .main__titular h1 {
    font-size: 18px;
    margin-top: 0px;
  }
  .figure {
    padding: 0px;
  }
  .figure img {
    padding: 0px;
  }
  .galeria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main__desc p {
    margin-top: 0px;
    font-size: 11px;
    padding: 0px;
  }
  .encabezados__fila {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contenedor__form div h3, .contenedor__form h3 div h3, .contenedor__form label div h3, .contenedor__form input div h3, .contenedor__form__emojis i div h3, .contenedor__form p div h3 {
    font-size: large;
  }
  .login__box__usuario label {
    font-family: "Oswald";
    font-size: x-small;
    color: whitesmoke;
    padding: 8px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .login__box .login__box__usuario input:focus ~ label,
  .login__box .login__box__usuario input:valid ~ label {
    top: -20px;
    left: 0;
    color: #9DF4E2;
    font-size: 8px;
  }
  .login__box .login__box__usuario textarea:focus ~ label,
  .login__box .login__box__usuario textarea:valid ~ label {
    top: -20px;
    left: 0;
    color: #9DF4E2;
    font-size: 8px;
  }
  .key1-card {
    background-image: url("../recursos/prod1.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key2-card {
    background-image: url("../recursos/prod2.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key3-card {
    background-image: url("../recursos/prod3.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key4-card {
    background-image: url("../recursos/prod4.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key5-card {
    background-image: url("../recursos/prod5.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key6-card {
    background-image: url("../recursos/prod6.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key7-card {
    background-image: url("../recursos/prod7.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key8-card {
    background-image: url("../recursos/prod8.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key9-card {
    background-image: url("../recursos/prod9.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key10-card {
    background-image: url("../recursos/prod10.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key11-card {
    background-image: url("../recursos/prod11.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .key12-card {
    background-image: url("../recursos/prod12.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .tamaño_form_rel {
    width: 100%;
  }
}

* {
  padding: 0;
  margin: 0;
}

/* --------------- */
/* --------------- */
/* --------------- */
body {
      grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  background-color: #1F2023;
}

body .container-fluid {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: main;
}

body .main, body .main__desc, body .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .main__titular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: whitesmoke;
  font-family: "Anton";
  margin-top: 10px;
  font-size: xx-large;
}

body .main__desc {
  font-size: 25px;
  color: whitesmoke;
  font-family: "Anton";
  margin-top: 20px;
}

body .main__desc .resaltar {
  border-bottom: 5px solid #9DF4E2;
  border-radius: 10px;
}

body .main__desc__excepcion {
  margin-top: 0px;
}

body .main .figure img, body .main__desc .figure img, body .redes .figure img {
  padding: 12px;
}

body .contenedormapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

body .contenedormapa__map {
  padding: 5px;
}

body .redes {
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 5px;
}

body .redes__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .redes__contenedor div {
  padding: 2px;
}

body .redes__emoji img {
  height: 30px;
  width: 30px;
}
/*# sourceMappingURL=style.css.map */