@import 'variables';
@import 'header';
@import 'footer';
@import 'form';
@import 'login';
@import 'galeria';
@import 'medias';




* {
padding: 0;
margin: 0;
}

/* --------------- */
/* --------------- */
/* --------------- */

body{

    display:grid;
    grid-template-areas: "header header header header"
                            "main main main main"
                            "footer footer footer footer";
                            
    background-color: $color-fondos;

    .container-fluid{
        grid-area: main;
    }
    
    .main{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;

        &__titular{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            font-family: $font-titulos;
            color:$color-font;
            margin-top:10px;
            font-size:xx-large;
        }

        &__desc{
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            font-size: $size-desc-main;
            font-family: $font-desc;
            color:$color-font;
        }
        
        .contenedormapa{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding:5px;

            &__map{
                padding:5px;
            }

        }
        
        .redes{
            display:flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-top:20px;
            margin-bottom:5px;
            padding:5px;
            
            &__contenedor{
                display:flex;
                flex-wrap: wrap;

                div{
                padding:2px;  
                }
            }

            &__emoji{
                img{
                    height:30px;
                    width:30px;
                }

                &:hover{
                    background-color: $color-principal;
                    color: $color-fondos;
                    border-radius: $border-radius;
                    box-shadow: 0 0 5px $color-principal,
                                0 0 25px $color-principal,
                                0 0 50px $color-principal,
                                0 0 100px $color-principal;
                }

            }
        }



    }

    

}


@media (min-width: 320px) and (max-width: 720px) {
.grid{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 0.75fr 0.75fr 0.75fr; 
    grid-template-areas: "header header"
                        "main main"
                        "redes redes"
                        "footer footer";
}

.main__titular h1{
    font-size:x-large;
}

.main__desc{
    font-size:medium;
}

.contenedormapa{
    display:none;
}

header{
    grid-area: header;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 60px;
    bottom: 10px;
    background: $color-fondos;
    z-index: 100;
    border-bottom:1px solid grey;
}

.encabezado__ham{
    color:$color-font;
}
}

@media  (max-width: 320px) {
.grid{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 0.75fr 0.75fr 0.75fr; 
    grid-template-areas: "header "
                        "main "
                        "main"
                        "redes "
                        "footer ";
}

.contenedormapa{
    display:none;
}

.main__titular h1{
    font-size:large;
}

.main__desc{
    font-size:small;
}

header{
    grid-area: header;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 60px;
    bottom: 10px;
    background: $color-fondos;
    z-index: 100;
    border-bottom:1px solid grey;
}
}