@import 'variables';
@import 'header';
@import 'footer';
@import 'sasscript';
@import 'form';
@import 'login';
@import 'galeria';
@import 'medias';




* {
padding: 0;
margin: 0;
}

/* --------------- */
/* --------------- */
/* --------------- */


body{

    display:grid;
    grid-template-areas: "header header header header"
                            "main main main main"
                            "footer footer footer footer";
                            
    background-color: $color-fondos;

    .container-fluid{
        grid-area: main;
    }
    
    .main{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        &__titular{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            @include titulos;
            margin-top:10px;
            font-size:xx-large;
        }

        &__desc{
            @extend .main;
            font-size: $size-desc-main;
            @include titulos;
        }
        
        .contenedormapa{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding:5px;

            &__map{
                padding:5px;
            }

        }
        
        .redes{
            @extend .main;
            margin-top:20px;
            margin-bottom:5px;
            padding:5px;
            
            &__contenedor{
                display:flex;
                flex-wrap: wrap;

                div{
                padding:2px;  
                }
            }

            &__emoji{
                img{
                    height:30px;
                    width:30px;
                }

                &:hover{
                    @extend .hover;
                }

            }
        }



    }

    

}

